@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~primeng/resources/themes/bootstrap/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

.ui-toast-message {
  border-radius: 5px;
}

.ui-toast-message-success {
  background-color: rgba(113, 221, 113, 0.5);
}

.ui-toast-message-info {
  background-color: rgba(16, 108, 214, 0.5);
}

.ui-toast-message-warn {
  background-color: rgba(255,165,0, 0.5);
}

.ui-toast-message-error {
  background-color: rgba(221, 113, 113, 0.5);
}

.heart {
  animation: .7s infinite heartEffect;
}

@keyframes heartEffect {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

// -------------------------------------- //
// --------------- BTNS ----------------- //
// -------------------------------------- //

// REMOVE THE BLUE BORDER ON CLICK
button:focus {
  outline: none !important;
}

input:focus {
  outline: none !important;
}

.btn-primary {
  background-color: white;
  color: rgba(240, 67, 33, 0.8);
  border: 0;
  border-radius: 10px;
  transition: color 0.5s linear; /* vendorless fallback */
  -o-transition: color 0.5s linear; /* opera */
  -ms-transition: color 0.5s linear; /* IE 10 */
  -moz-transition: color 0.5s linear; /* Firefox */
  -webkit-transition: color 0.5s linear; /*safari and chrome */
}

.btn-primary:hover {
  background-image: linear-gradient(rgba(240, 67, 33, 0.8), rgba(240, 92, 33, 0.8));
  color: white;
}

body .ui-widget-content {
  background-color: rgb(200, 200, 200);
}

body .ui-slider .ui-slider-range {
  background-image: linear-gradient(rgba(240, 67, 33, 0.8), rgba(240, 92, 33, 0.8));
}

body .ui-slider .ui-slider-handle {
  background-color: white;
  border: rgb(190, 190, 190) 1px solid;
}

body .ui-slider .ui-slider-handle:hover {
  background-color: white;
  border: rgba(240, 92, 33, 0.8) 1px solid;
}

// -------------------------------------- //
// --------------- MODAL ---------------- //
// -------------------------------------- //
textarea {
  resize: none;
}

.modal {
  border-radius: 10px;

  .modal-dialog{
    overflow-y: initial !important
  }

  .modal-header, .modal-footer {
      border: 0;
  }

  .modal-body {
    overflow-y: auto;
    width: 80%;
    margin: auto;
  }

  .modal-content {
      background-color: rgba($color: #FFFFFF, $alpha: 0.9);
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
