@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

.home {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("../../assets/img/home.jpg");
  background-size: cover;
}

.logo {
  margin-top: 10px;
}

.progress {
  height: 12px;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}
.heaven {
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: inline;
}

.scroll {
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  background-color: rgba(36, 36, 36, 0.027);
}

// .btn {
//   background-color: rgba(240, 67, 33, 0.8);
// }

.swipe-buttons {
  text-align: center;

  i {
    margin: 10px;
    font-size: 40px;
    background-color: white;
    border-radius: 100%;
  }

  i:hover {
    transform: scale(1.1);
  }
}

.loader {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin{ 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.match-zone {
  right: 0;
  padding: 0;
  height: 100%;
  background-color: rgba(245, 247, 250, 0.884);
  overflow: hidden;
  .swipe { margin: auto; }

  carousel button {
    width: 25px;
    height: 25px;
    opacity: 1;
    background-image: linear-gradient(rgba(240, 67, 33, 0.8), rgba(240, 92, 33, 0.8));
    border-radius: 100%;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
  }

  .tag { background-image: linear-gradient(rgba(240, 67, 33, 0.8), rgba(240, 92, 33, 0.8)); color: white; }  
}

body .ui-slider .ui-slider-range {
  background-color: black;
}

.photoAdd {
  height: 150px;
  width: 150px;
  background-image: linear-gradient(rgba(240, 67, 33, 0.5), rgba(240, 92, 33, 0.5));
}

.noPic {
  i {
    font-size: 60px;
    vertical-align: middle;
  }
}

nav {
  padding: 0;
  ul { list-style-type: none; }

  .navlink {
    color: white;
    font-size: 20px;
  }

  .navitem {
    margin: auto;
    width: 33.333333%;
    padding: 5px;
    background-image: linear-gradient(rgba(240, 67, 33, 0.8), rgba(240, 92, 33, 0.8));
  }

  .navitem:hover {
      cursor: pointer;
      background-image: linear-gradient(rgba(240, 67, 33, 0.7), rgba(240, 92, 33, 0.7));
  }
}

.match {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);

  h1 {
    font-size: 11vh;
    font-family: 'Arial Black', bold;
    color: rgb(255, 255, 255);
  }

  .scale-in-center {
    -webkit-animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
            animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
  }

  @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
}