.scroll {
    max-height: 600px;
    overflow-y: auto;
}

.popcool { background-image: linear-gradient(rgba(240, 67, 33, 0.6), rgba(240, 92, 33, 0.9)); color: black }
.popother { background-image: linear-gradient(rgba(231, 229, 229, 0.5), rgba(221, 217, 217, 0.7)); color: black }